<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StepCounter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C8FE899F1CBBF6E200C1430E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8FE89B61CBBF6E200C1430E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8FE89C11CBBF6E200C1430E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
